.odd {
    font-family: "Verdana","DejaVu Sans", sans-serif;
    background-color:pink;
}

#sec {
    color: blue;
    font-size: 36px;
}

.odd.three {
    font-size: 24px;
}

#four {
    font-size: 24px;
    font-weight: bold;
    background-color: lightgreen;
}
